.header {
    justify-content: center;
    align-items: center;
    background-color: palette(background, default) !important;
    height: shape(headerHeight) !important;

    .header-content {
        @media(max-width: breakpoints(sm)) {
            width: 100%;
            justify-content: space-between;
        }
    
        .logo {
            height: 25px;
            cursor: pointer;
            margin-right: 20px;
        }
    }
}

.header-drawer {
    .MuiPaper-root {
        padding-top: 50px;
        background-color: palette(background, default);
        padding-bottom: 10px;
    }
}