.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: shape(headerHeight) !important;
    background-color: palette(background, default) !important;

    .content {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        max-width: breakpoints(xl);
        padding: 0 5%;
        @media(max-width: breakpoints(sm)) {
            justify-content: space-between;
        }

        .logo {
            cursor: pointer;
            margin-right: 20px;
            background-color: palette(primary, main);
            color: palette(primary, contrastText);
            font-size: 1.875rem;
            font-weight: 600;
            padding: 0 4px;
            white-space: nowrap;
        }

        .routes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-wrap: nowrap;
            
            @media (max-width: 700px) {
                justify-content: flex-end;
            }
        }
    }
}

.header-drawer {
    .MuiPaper-root {
        padding-top: 50px;
        background-color: palette(background, default);
        padding-bottom: 10px;
    }
}