@import '../../styles/Utils';

.full-event-root{

    .grid{
        display: grid;
        width: 100vw;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows:  auto 200px auto auto 150px;
        row-gap: 25px;
        column-gap: 35px;
        grid-template-areas: 
        "top top top"
        "main main main"
        "mid mid mid"
        "mid2 mid2 mid2"
        "footer footer footer";
        margin-left: 15px;
        margin-right: 75px;
    } 

    .header {
        grid-area: top;
        align-self: stretch;
    }

    #title-container {
        margin: 0px;
    }

    #title {
        @include typography(h2);
        margin: 0px;
        margin-top:10px;
        background:none;
        border:none;
        padding:10px;
        box-shadow: none;
        text-align: left;
        display: inline-block;
        text-transform: none;
        width: 600px;
    }

    #date-time-recurrence {
        margin: 5px;
        margin-left: 10px;
    }

    #date, #recur {
        background:none;
        border:none;
        margin:0;
        padding:0;
        color: grey;
        box-shadow: none;
        text-align: left;
        display: inline-block;
        text-transform: none;
        margin-right: 4px;
        margin-bottom: 5px;

    }
    #date:hover, #recur:hover {
        color: darkslategrey; 
        box-shadow: none;
    }

    #date-time-edit {
        display: none;
    }

    #delete {
        grid-area: top;
        grid-column-start: 3;
        justify-self: end;
        align-self: start;
        background-color: transparent;
        box-shadow: none;
        color:grey;
        @extend .btn
    }

    #delete:hover {
        color:black;
        box-shadow: none;
    }

    #event-del, #recur-del, #cancel-del {
        background-color:$error-color;
        color:white;
        @extend .btn
    }

    .description {
        grid-area: main;
    }

    .attachment-card-box {
        grid-area: mid; 
        margin-right: 3em;
    }
    
    .attachment-card{   
        width: 40%;
        height: 100%;
        background-color: white;
        overflow-y: scroll;
    }
    .add-attachment-button{
        width:100px;
    }
    
    .attendees {
        grid-area: mid;
        justify-self: right;
        align-self: start;
        width: 60%;
        padding: 1em;  

        .attendee-list-view {
            overflow-y: auto !important;
            padding-top: .5em;
        }

        .attendee-response-accept {
            color:darkgreen;
        }
    
        .attendee-response-decline {
            color:darkred;
        }
    
        .attendee-chip {
            margin: .1em;
        }
    
        .attendee-left-col {
            float: left;
            width: 50%;
        }
    
        .attendee-sub-title{
            text-align: center;
        }
    
        .attendee-right-col {
            float: right;
            width: 50%;
        }
    }

    .field-grid {
        grid-area: mid2;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); //(auto-fit, 250px);
        grid-template-rows: repeat(auto-fit, 200px);
        grid-row-gap: 1.5em;
        grid-column-gap: 1.5em;
    }

    #attatchment-item{
        outline: auto;
        background:none;
        background-color: none;
        border:none;
        margin:0;
        padding:0;
        color: grey;
        box-shadow: none;
        display: inline-block;
        text-transform: none;
    }
    #attatchment-item:hover {
        color: darkslategrey; 
        box-shadow: none;
    }

    .btn{
        @include typography(button);
        padding:5px 25px;
        border-radius: shape(borderRadius);
        margin: 10px;
        
    }

    .c-d-btns{
        grid-area: footer;
        justify-self: left;
    }

    #create-btn{
        background-color:$primary-color;
        color:white;
        @extend .btn
    }

    .c-s-btns{
        grid-area: footer;
        justify-self: right;
    }

    #cancel-btn{
        width: 125px;
        background-color:gray;
        color:white;
        @extend .btn
    }

    #save-btn{
        width: 125px;
        background-color:$primary-color;
        color:white;
        @extend .btn
    }

}

.field-card {

    #type-select {
        grid-row: 1;
        grid-column: 1;
        justify-self: stretch;
    }

    #delete-field-btn {
        grid-row: 1;
        grid-column: 2;
        justify-self: right;
        color:grey;
    }
    #delete-field-btn:hover {
        color: black;
        box-shadow: none;
        background: none;
    }

    #field-content {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .field-card-grid {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 75px auto;

    }
}

