
$primary-color: purple;
$secondary-color: blue;

$error-color: red;
$warning-color: yellow;
$info-color: lightblue;
$success-color: green;

$primary-text-color: black;

$palette: (
    primary: (
        light: #d5dbf0,
        main: $primary-color,
        dark: darken($primary-color, 12%),
        contrastText: #fff,
    ),
    secondary: (
        light: #c0edea,
        main: $secondary-color,
        dark: darken($secondary-color, 12%),
        contrastText: #fff,
    ),
    error: (
        light: lighten($error-color, 12%),
        main: $error-color,
        dark: darken($error-color, 12%),
        contrastText:#fff,
    ),
    warning: (
        light: lighten($warning-color, 12%),
        main: $warning-color,
        dark: darken($warning-color, 12%),
        contrastText:rgba(0, 0, 0, 0.87),
    ),
    info: (
        light: lighten($info-color, 12%),
        main: $info-color,
        dark: darken($info-color, 12%),
        contrastText:#fff,
    ),
    success: (
        light: lighten($success-color, 12%),
        main: $success-color,
        dark: darken($success-color, 12%),
        contrastText:rgba(0, 0, 0, 0.87),
    ),
    text: (
        primary:darken($primary-text-color, 12%),
        secondary:rgba(0, 0, 0, 0.65),
        disabled:rgba(0, 0, 0, 0.38),
        hint: #767B8B,
    ),
    background: (
        default: #F0F0F0,
        paper: #fff,
    ),
    grey: (
        50: #fafafa,
        100: #f5f5f5,
        200: #eeeeee,
        300: #e0e0e0,
        350: #cdcdcd,
        400: #bdbdbd,
        500: #9e9e9e,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
        A100: #d5d5d5,
        A200: #aaaaaa,
        A400: #303030,
        A700: #525252,
    )
);

