@use '../1-theme/typography' as typ;

@mixin typography($variant) {
    @if map-has-key(typ.$typography, $variant){
        font-family: map-get(map-get(typ.$typography, $variant), fontFamily) !important;
        font-weight: map-get(map-get(typ.$typography, $variant), fontWeight) !important;
        font-size: map-get(map-get(typ.$typography, $variant), fontSize) !important;
        line-height: map-get(map-get(typ.$typography, $variant), lineHeight) !important;
        letter-spacing: map-get(map-get(typ.$typography, $variant), letterSpacing) !important;
    } @else {
        @warn "`#{$variant}` does not match the available typography variants";
    }
}