button {
    border-radius: 0 !important;
}

.icon-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: palette(text, primary);
    &:hover {
        color: palette(primary, main);
    }
    svg {
        font-size: 2rem;
    }
    &.large {
        svg {
            font-size: 2.5rem;
        }
    }
}