$palette: (
    primary: (
        main: #4444bb,
        contrastText: #ffffff
    ),
    secondary: (
        main: #5a9f37,
        contrastText: #000000
    ),
    text: (
        primary: #000000,
        secondary: #444444
    ),
    background: (
        default: #ffffff,
        paper: #eaeaea
    )
);