@import '../../styles/Utils';

$background-gradient: linear-gradient(180deg, $primary-color 40%, $info-color 90%);

.UserProfileContainer {

    overflow: hidden;

    .CenterGrid {
        margin-top: 1%;
        align-items: center !important;
        align-self: center !important;

        .DataContainer {
            align-self: center;
            max-width: 100%;
        }
    }
    
    .avatarStyle {
        height: 300px;
        width: 300px; 
        background-color: #93BFA0;
    }

    .profileGradient {
        background: $background-gradient;
        height: 45vh;
    }

    .EditButtonsGrid {
        margin-top: 5%;
    }

    .profileText {
        font-size: 24px;
        color: $secondary-text-color;
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .accountCircleIconStyle {
        font-size: 400px;
        color: white;
    }

    .updateProfile {
        margin-bottom: 5px;
        font-weight: bold;
    }

}

.UpdateProfileContainer {

    overflow: hidden;

    .gridGradient {
        background: $background-gradient;
        height: 100vh;
    }

    .form {
        margin-top: 8%;
    }
    .FieldGridItem {
        min-width: 40%;
    }
    .paper {
        margin-top: 25%!important;
        padding: 2%;
        max-width: 500px;
        margin: auto;
    }
    .FormTitle {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    .PassText {
        margin-left: 2%;
    }

}

.UpdatePasswordContainer {
    max-height: none;
}