@import '../../../styles/Utils';

.entry-preview{

    &.entry-card {
      position: relative;
      background-color: white;
      overflow: hidden;
      cursor: pointer;
      list-style: none;
      padding: 5px;
      padding-bottom: 7px;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin-bottom: 5%;
      box-shadow: shadows(2);
    }

    .entry-header{
      display: flex;
      width: 100%;
    }

    .avatar{
      height: 15px;
      width: 15px;
      border-radius: 100%;
      align-self: center;
      margin-right: 5px;
    }

    .header-text{
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }

    .entry-preview-action-area{
      display: flex;
      justify-content: flex-end;
  }

    .preview-icons{
      font-size: .9rem !important;
      padding: 1px;
      color: palette(secondary,main);
    }

    .preview-icons:hover{
      color: palette(secondary,dark);
    }

    //entry preview content 
    .title{
      @include typography(h4);  
      font-size: .8rem !important;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .subtitle{
      @include typography(h2);  
      font-size: .6rem !important;
    }

    &.content{
      padding-top: 5%;
    }
  
    .desc{ //we can either clamp the card sizes and have a scroll bar only on the card or we can have it on the main day preview
      @include typography(body1);  
      font-size: .7rem !important;
      overflow: auto;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: horizontal;
      margin-bottom: 2%;
    }
  
    .details{
      @include typography(body1);  
      font-size: .6rem !important;
    }
  
  }