@import '../../styles/Utils';
 $text-color: $primary-text-color;
.FullTagListContainer {

    // uncomment this to hide scroll bars
    overflow: hidden;
    color: $text-color;
    .titleGrid {
        padding-top: 2%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        width: '100%'
    }
    
    h3{
        color: $text-color;
    }

    h5{
        font-size: 1.3rem;
        color: $text-color;
        font-weight: 500;
    }
    h6{
        font-size: 1.1rem;
        color: $text-color;
        font-weight: 500;
    }
    legend{
        color: $text-color;
    }
    .searchBar {
        width: 200px;
    }
    .sortSelect{
        color: $text-color;
    }
    .MuiTypography-root{
        color: $text-color;
    }
    .MuiInput-input{
        color: $text-color;
    }
    .MuiButton-label{
        color: $text-color;
        font-size:'1em';
    }
    .ButtonTextWhite{
        color: white;
    }
    .saveButton{
        background-color: #A1E0B3;
        color: white;
    }
    .secondaryColor{
        background-color:$secondary-color;
    }
    /*
    .backButton {
        //padding-right: 2%;
    }
    */
    .backButtonGridItem {
        align-self: flex-end;
        width: '100%'
    }

    .backButtonContainer {
        //margin-right: 2%;
        width: 100%;
        justify-content: flex-end;
    }

    .sortContainer {
        padding-top: 2%;
    }

    .addButtonContainer {
        padding-top: 5%;
    }

    .addButtonSizing {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
    }

}

.TagAccordionContainer {

    // use bottom padding to space out accordions and keep top one top-aligned
    padding-bottom: 1%;
    padding-left: 2%;
    color:$text-color;

    .accordionPicker {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .colorNameDisplay {
        margin-top: 5%;
    }

    .accordionButtons {
        border-radius: 10px;
    }

    .colorFab {
        min-width: 25px;
        max-width: 25px;
        min-height: 25px;
        max-height: 25px;
    }
}
