/*
 * For Reference:
 * Nesting is very important for partial Sass files. If there are duplicate classNames across multiple Sass files 
 * (i.e. if there is a 'root' class in Login.scss and a 'root' class in 'Event.scss') those two different styles will override each other.  
 * So, you need to have an outermost container with a very unique name and nest the child component styling within that container 
 * (i.e. '.login-register-container' has child classes within that outermost definition)
 * 
 * The syntax & means there is more than one selector applied to the component
 * (ie. &.class-name)
 * 
 */
@import '../../styles/Utils';

$background-gradient: linear-gradient(180deg, $primary-color 40%, $info-color 90%);

.login-register-container {
    &.root {
        background: $background-gradient;
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .title-logo-box{
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        justify-self: flex-end;
        margin-left: 10%;
        margin-right: 5%;
    }

    .paper {
        height: 90vh;
        width: 70vh;
        margin-left: 10%;
        display: flex;
        justify-self: 'flex-start';
        justify-content: center;
    }

}

.login-register-form {

    &.paper-content {
        margin-top: 10%;
        padding: 10%;
        align-self: top;
    }
    
    .title {
        @include typography(h6);  
        font-size: 4rem !important;
        margin-left: 2%;
    }
    
    .subtitle{
        @include typography(subtitle1);
        font-size: 1.5rem !important;
    }
    
    .form {
        margin-top: 8%;
    }
    
    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 2%;
        // max-width: 50%;
    }
    
    .button {
        justify-self: flex-end;
        width: 50%;
        @include button();
    }
    
    .footer {
        display: flex;
        margin-top: 20%;
    
        &.create-account {
            justify-content: space-evenly;
            padding-left: 10%;
            padding-right: 10%;
        }
    
        &.cancel {
            justify-content: flex-end;
        }
    }
    
    .link {
        flex-wrap: nowrap !important;
    }

}





