$white: #ffffff;

$primary: #5543E6;
$primary-contrast: $white;

$secondary: #E13A62;
$secondary-contrast: $white;

$error: #a52525;
$error-contrast: $white;

$warning: #d9b32c;
$warning-contrast: #000000;

$info: #458bd6;
$info-contrast: $white;

$success: #55a331;
$success-contrast: $white;

$text-primary: #000000;
$text-secondary: #444444;
$text-disabled: #777777;

$palette: (
    primary: (
        main: $primary,
        contrastText: $primary-contrast,
    ),
    secondary: (
        main: $secondary,
        contrastText: $secondary-contrast,
    ),
    error: (
        main: $error,
        contrastText: $error-contrast,
    ),
    warning: (
        main: $warning,
        contrastText: $warning-contrast,
    ),
    info: (
        main: $info,
        contrastText: $info-contrast,
    ),
    success: (
        main: $success,
        contrastText: $success-contrast,
    ),
    text: (
        primary: $text-primary,
        secondary: $text-secondary,
        disabled: $text-disabled,
    ),
    grey: (
        50: #fafafa,
        100: #f0f1f6,
        200: #e9eaf0,
        300: #cdced5,
        400: #aaaeb9,
        500: #9397a5,
        600: #888d9d,
        700: #444b66,
        800: #323649,
        900: #161b2e,
        A100: #fafafae4,
        A200: #cdced588,
        A400: #9fa3b088,
        A700: #20253de4
    ),
    background: (
        default: #eaeaea,
        paper: $white
    )
);
