@import '../../styles/Utils';

$now-indicator: #7C7C7C;

.calendar-day {
    .fc {
        // Long slot where entry is rendered
        .fc-timegrid-slot {
            height: 2em!important;
            //border-bottom: 0;
            background-color: white;
            border-bottom: .1em solid;
            border-color: #F0F0F0;
        }
    
        // Background just behind the time text
        .fc-scrollgrid-shrink {
            background-color: #F0F0F0;
        }

        // Top row before scroll below the date text
        .fc-scroller {
            background-color: transparent;
        }
        
        // time display text
        .fc-event-time {
            font-size: 28px;
            color: white;
        }

        .fc-event-title-container {
            min-width: 100%;
            min-height: 100%;
        }
        .fc-event-title {
            min-width: 13em;
            min-height: 50%;
            font-size: 30px;
            font-weight: bold;
        }
        .fc-timegrid-event {
            border: none;
            padding: 1vh;
        }
        
        // Line that indicates the current time
        .fc-timegrid-now-indicator-line {
            position: absolute;
            z-index: 4;
            left: 0;
            right: 0;
            border-style: solid;
            border-color: $now-indicator;
            border-color: var(--fc-now-indicator-color, $now-indicator);
            border-width: 4px 0 0;
        }

        // Arrow that points to the now indicator line
        .fc-timegrid-now-indicator-arrow {
            display: none;
        }
    }

    // Styling for prev title next chunk
    .fc-toolbar-chunk {
        display: none !important;
    }
}
