@import '../../styles/Utils';


.field-list-container {
    flex-grow: 1;
}
.tag-title-textfield {
    width: 20em;
    align-content: center;
}
.color-fab {
    margin: '5px';
}
.color-picker-popover {
    min-height: 138px!important;
    border-radius: 25px!important;
    padding: 6px!important;
}

.roundedButtons {
    border-radius: 15px;
}