@import '../../styles/Utils';

.year-filter-menu{

    .filter-type-button {
        font-size: .9rem !important;
        border: 2px solid white!important;
    }
    
    .filter-popover {
        min-width: 170px!important;
        max-width: 170px!important;
    }

    .check-active{
        color: white;
    }

    .filter-menu-content{
        display: 'flex';
        justify-content: flex-start; 
    }
    .type-shownames-div{
        display: flex;
        padding-top: 4px;
        padding-bottom: 2px;
    }

    .filter-headers{
        @include typography(h3); 
        color:  palette(secondary,dark);
        font-size: .9rem !important;
        font-weight: bold;
        text-transform: uppercase !important;
        min-width: 40%;        
    }
    .filter-show-names{
        @include typography(h3); 
        color:  palette(secondary,dark);
        font-size: .7rem !important;
        font-weight: bold;
        justify-content: flex-end;
        text-align: right;
        min-width: 62%;

        &.inactive{
            display: none;
        }
    }

    .filter-list-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        height: 1.5rem;
    }

    .list-item-title{
        @include typography(body2); 
        color:  palette(secondary,dark);
        font-size: .9rem !important;
        align-self: center;
        min-width: 65%;
        overflow: hidden;
    }

    .checkbox{
        width: 1rem !important;
        height: 1rem !important;
    }

    .switch-div{
        display: flex;
        width: 25%;
        height: 1rem;
        flex-direction: row;
        justify-self: right !important;
        justify-content: flex-end;
        align-self: center;

        &.inactive{
            display: none;
        }
    }


    .switch{
        font-size: .7rem !important;
        align-self: center;
    }

    .add-tag-btn{
        justify-content: flex-start;
        @include typography(body2); 
        color: palette(secondary,dark);
        font-size: .9rem !important;
        text-transform: capitalize;
        padding-left: 11px;
    }

    .add-icon{
        font-size: 1rem !important;
    }

    .setting-toggle-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        height: 1.5rem;

        &.inactive{
            display: none;
        }
    }


    &.setting-switch-div{
        width: 20%;
    }
    
}

.filled-circle-unchecked{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    
}

