@import '../../styles/Utils';

$now-indicator: #7C7C7C;

.WeekCalendarContainer {
    overflow: hidden;
    // Styling for everything within the "date grid"
    .fc {

        .fc-timegrid-slot {
            height: 2em!important;
            border-bottom: .1em solid;
            border-color: palette(grey,300);
        }
        // Background just behind the time text
        .fc-scrollgrid-shrink {
            background-color: #F0F0F0;
        }
        // Top row before scroll below the date text
        .fc-scroller {
            background-color: transparent;
        }

        .fc-timegrid-slot-minor {
            border-top: .1em solid;
            border-color: palette(grey,300);
        }

        .fc-day-sun {
            background-color: #fafafa !important;
        } 
        .fc-day-tue {
            background-color: #fafafa !important;
        } 
        .fc-day-thu {
            background-color: #fafafa !important;
        } 
    
        .fc-day-sat {
            background-color: #fafafa !important;
        } 

        .fc-day-mon {
            background-color: palette(grey,200) !important;
        }
        .fc-day-wed {
            background-color: palette(grey,200) !important;
        }
        .fc-day-fri {
            background-color: palette(grey,200) !important;
        }

        .fc-timegrid-event {
            border: none;
            padding: .5vh;
        }

        //Todays styling
        .fc-day-today {
            .fc-daygrid-day-frame {
            box-shadow: 0 0 0 2pt black !important;
            }
        }
        
        .fc-toolbar.fc-header-toolbar {
            margin-bottom: .2em;
        }


        // EVENTS
        .fc-event-main {
            padding: 2px;
        }
        // time display text
        .fc-event-time {
            color: white;
            font-size: 28px;
        }

        .fc-event-title-container {
            min-width: 100%;
            min-height: 100%;
            align-self: center;
        }
        .fc-event-title {
            min-width: 50%;
            min-height: 50%;
            font-size: 30px;
            font-weight: bold;
            align-self: center;
        }

        // Line that indicates the current time
        .fc-timegrid-now-indicator-line {
            position: absolute;
            z-index: 4;
            left: 0;
            right: 0;
            border-style: solid;
            border-color: $now-indicator;
            border-color: var(--fc-now-indicator-color, $now-indicator);
            border-width: 4px 0 0;
        }
        
        // Arrow that points to the now indicator line
        .fc-timegrid-now-indicator-arrow {
            display: none;
        }

        .fc-timegrid-axis {
            min-height: 40px;
        }


    }

    // Styling for prev title next chunk
    .fc-toolbar-chunk {
       display: none !important;
    }

    .fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
        box-shadow: none;
        border-radius: 5px;
    }

}