$palette: (
    primary: (
        main: #4444bb
    ),
    secondary: (
        main: #44bb44
    ),
    text: (
        primary: #000000,
        secondary: #444444
    ),
    background: (
        default: #eaeaea,
        paper: #ffffff
    )
);