@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$typography: (
    font-family: ("Open Sans", sans-serif),
    h1: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 3rem
    ),
    h2: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 2.25rem
    ),
    h3: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 2rem
    ),
    h4: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 1.75rem
    ),
    h5: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 1.5rem
    ),
    h6: (
        fontFamily: 'Merriweather',
        fontWeight: 400,
        fontSize: 1.2rem
    ),
    subtitle1: (
        fontFamily: 'Open Sans',
        fontWeight: 400,
        fontSize: 1.1rem
    ),
    subtitle2: (
        fontFamily: 'Open Sans',
        fontWeight: 400,
        fontSize: 1rem
    ),
    body1: (
        fontFamily: 'Open Sans',
        fontWeight: 300,
        fontSize: 0.95rem
    ),
    body2: (
        fontFamily: 'Open Sans',
        fontWeight: 300,
        fontSize: 0.88rem
    ),
    button: (
        fontFamily: 'Open Sans',
        fontWeight: 600,
        fontSize: 0.75rem,
        textTransform: uppercase
    ),
    caption: (
        fontFamily: 'Open Sans',
        fontWeight: 400,
        fontSize: 0.8rem
    ),
    overline: (
        fontFamily: 'Open Sans',
        fontWeight: 400,
        fontSize: 0.75rem
    )
);